body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    width: 100%;
    background-color: #5c6bc0;
    color: white;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    font-size: 1.8rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form div {
    margin-bottom: 1rem;
}

label {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}

input {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    margin-top: 5px;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #5c6bc0;
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3949ab;
}

